:root {
  --clr-primary-text: hsl(243, 87%, 12%);
  /* affects the early access box background color and email input borders */
  --clr-theme-secondary: hsl(238, 22%, 44%);
  /* affects the background color of the stay productive section */
  --clr-second-background: hsl(240, 75%, 98%);
  --clr-flyo-link: hsl(170, 45%, 43%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: var(--clr-primary-text);
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

h1 {
  font-family: 'Raleway', sans-serif;
  line-height: 2rem;
  font-size: 24px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline;
}

p {
  line-height: 1.35;
  font-size: 16px;
}

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding-top: 0.5rem;
  margin-inline: 1.5rem;
  margin-bottom: 5rem;
}

button {
  background-color: hsl(224, 93%, 58%);
  color: white;
  border: none;
  height: 40px;
  width: clamp(240px, 300px, 80vw);
  border-radius: 5px;
}

.header-logo {
  width: auto;
  height: 1.5rem;
}

.nav-list {
  grid-column: 2 / 4;
  justify-self: end;
}

.nav-list-item {
  margin-left: clamp(0.5rem, 1rem, 1.5rem);
  font-size: 12px;
  color: var(--clr-primary-text);
  font-weight: 500;
}

.first-content {
  margin-bottom: 6rem;
}

.email-input-container {
  display: grid;
  place-items: center;
}

.email-input {
  display: block;
  width: clamp(240px, 300px, 80vw);
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--clr-theme-secondary);
}

.margin-bottom-2 {
  margin-bottom: 0.75rem;
}

.margin-bottom-4 {
  margin-bottom: 2rem;
}

/* candidate for a variable */
.padding-x-3 {
  padding-inline: 1.5rem;
}

.second-content-container {
  padding-inline: 0;
  margin: 0;
  background-color: var(--clr-second-background);
}

.second-content-container > p {
  color: var(--clr-theme-secondary);
  padding-inline: 1.5rem;
}

.second-illustration {
  background-color: var(--clr-second-background);
  margin-bottom: 6rem;
  padding-inline: 1.5rem;
}

.second-content-heading {
  font-size: 16px;
  margin-bottom: 1.5rem;
}

.text-align-left {
  text-align: left;
}

.fylo-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: var(--clr-second-background);
}

.fylo-link {
  color: var(--clr-flyo-link);
  font-size: 13px;
  /* "underline" for the link */
  border-bottom: 1px solid var(--clr-flyo-link);
  padding-bottom: 7px;
}

.arrow {
  color: var(--clr-flyo-link);
  /* underline for the arrow icon */
  border-bottom: 1px solid var(--clr-flyo-link);
  /* sets the perfect height so that the underlines align */
  height: 36px;
  /* using the gap or margin properties will cause the underline to disconnect */
  padding-left: 5px;
  width: auto;
}

/* allows the inner card to have a white background */
.testimonial-card-container {
  background-color: var(--clr-second-background);
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10rem;
  margin-inline: 3rem;
  text-align: left;
  padding-inline: 2rem;
  margin-bottom: 5rem;
  box-shadow: 2px 2px 4px 4px #f1f0f6;
}

.testimonial-profile {
  justify-self: start;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.testimonial-font {
  font-size: 10px;
  grid-row: 1 / span 2;
}

.testimonial-profile-picture {
  border-radius: 50%;
  margin-top: 12%;
  height: 2rem;
  width: auto;
}

.testimonial-profile-info > h1 {
  font-size: 10px;
  line-height: 0.75;
}

.testimonial-profile-info > h2 {
  font-size: 8px;
}

article {
  background-color: var(--clr-theme-secondary);
  color: white;
  padding: 3rem 2rem;
}

article > h1 {
  font-size: 18px;
}

article > p {
  font-size: 13px;
}

footer {
  background-color: hsl(243, 87%, 12%);
  color: white;
  /* candidate for a variable */
  padding: 2rem 2.5rem;
  text-align: left;
  height: 100vh;
}

footer *:where(:not(:last-child)) {
  margin-bottom: 4rem;
}

footer li {
  display: block;
  margin-bottom: 1rem;
}

.footer-logo {
  margin-bottom: 1.5rem;
  height: 6rem;
  display: flex;
  place-items: center start;
}

.footer-logo > svg {
  transform: scale(1.5);
}

.phone-icon {
  display: inline-block;
  height: 15px;
  width: auto;
}

.email-icon {
  display: inline-block;
  height: 15px;
  width: auto;
}

.contact-info-list > li {
  display: flex;
  gap: 1rem;
}

@media screen and (min-width: 653px) {
  .first-outer-div {
    display: flex;
    align-items: center;
  }

  .first-content {
    order: -1;
  }

  .email-input-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .email-input-container > input {
    margin: auto;
    margin-bottom: 0;
  }

  .email-input-container > button {
    justify-self: start;
  }

  .second-outer-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .second-illustration {
    order: 2;
  }

  .fylo-link-container {
    justify-content: flex-start;
    padding-inline: 1.5rem;
  }

  .testimonial-card-container {
    text-align: center;
    justify-content: flex-start;
  }

  .testimonial-card {
    width: 20rem;
  }

  article {
    display: flex;
  }

  article > div {
    display: flex;
    flex-direction: column;
  }

  .early-access-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    text-align: left;
  }

  .footer-lists-container {
    display: flex;
    gap: 15rem;
    height: 10rem;
  }

  footer {
    padding-top: 7rem;
    padding-left: 5rem;
    padding-bottom: 9rem;
    height: 60vh;
  }
}
