:root {
  --clr-very-dark-blue: hsl(243, 87%, 12%);
  --clr-desaturated-blue: hsl(238, 22%, 44%);
}

/* TODO: incorporate grid when refactoring */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: var(--clr-very-dark-blue);
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

h1 {
  font-family: 'Raleway', sans-serif;
  line-height: 2rem;
  font-size: 24px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline;
}

p {
  line-height: 1.35;
  font-size: 16px;
}

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding-top: 0.5rem;
  margin-inline: 1.5rem;
  margin-bottom: 5rem;
}

button {
  background-color: hsl(224, 93%, 58%);
  color: white;
  border: none;
  height: 40px;
  width: clamp(240px, 300px, 80vw);
  border-radius: 5px;
}

.header-logo {
  width: auto;
  height: 1.5rem;
}

.nav-list {
  grid-column: 2 / 4;
  justify-self: end;
}

.nav-list-item {
  margin-left: clamp(0.5rem, 1rem, 1.5rem);
  font-size: 12px;
  color: var(--clr-very-dark-blue);
  font-weight: 500;
}

.first-content {
  margin-bottom: 6rem;
}

.email-input-container {
  display: grid;
  place-items: center;
}

.email-input {
  display: block;
  width: clamp(240px, 300px, 80vw);
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--clr-desaturated-blue);
}

.margin-bottom-2 {
  margin-bottom: 0.75rem;
}

.margin-bottom-4 {
  margin-bottom: 2rem;
}

/* candidate for a variable */
.padding-x-3 {
  padding-inline: 1.5rem;
}

.second-content-container {
  padding-inline: 0;
  margin: 0;
  background-color: hsl(240, 75%, 98%);
}

.second-content-container > p {
  color: var(--clr-desaturated-blue);
  padding-inline: 1.5rem;
}

.second-illustration {
  background-color: hsl(240, 75%, 98%);
  margin-bottom: 6rem;
  padding-inline: 1.5rem;
}

.second-content-heading {
  font-size: 16px;
  margin-bottom: 1.5rem;
}

.text-align-left {
  text-align: left;
}

.fylo-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: hsl(240, 75%, 98%);
}

.fylo-link {
  color: hsl(170, 45%, 43%);
  font-size: 13px;
  /* "underline" for the link */
  border-bottom: 1px solid hsl(170, 45%, 43%);
  padding-bottom: 7px;
}

.arrow {
  color: hsl(170, 45%, 43%);
  /* underline for the arrow icon */
  border-bottom: 1px solid hsl(170, 45%, 43%);
  /* sets the perfect height so that the underlines align */
  height: 36px;
  /* using the gap or margin properties will cause the underline to disconnect */
  padding-left: 5px;
  width: auto;
}

/* allows the inner card to have a white background */
.testimonial-card-container {
  background-color: hsl(240, 75%, 98%);
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10rem;
  margin-inline: 3rem;
  text-align: left;
  padding-inline: 2rem;
  margin-bottom: 5rem;
  box-shadow: 2px 2px 4px 4px #f1f0f6;
}

.testimonial-profile {
  justify-self: start;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.testimonial-font {
  font-size: 10px;
  grid-row: 1 / span 2;
}

.testimonial-profile-picture {
  border-radius: 50%;
  margin-top: 12%;
  height: 2rem;
  width: auto;
}

.testimonial-profile-info > h1 {
  font-size: 10px;
  line-height: 0.75;
}

.testimonial-profile-info > h2 {
  font-size: 8px;
}

article {
  background-color: hsl(238, 22%, 44%);
  color: white;
  padding: 3rem 2rem;
}

article > h1 {
  font-size: 18px;
}

article > p {
  font-size: 13px;
}

footer {
  background-color: hsl(243, 87%, 12%);
  color: white;
}

.footer-logo {
  color: white;
}
